body {
    background-color: #5d62fd;

}

a.button {
    padding: 10px;
    border: 1px outset buttonborder;
    border-radius: 7px;
    color: black;
    background-color: azure;
    text-decoration: none;
    margin: 50px;
}

#container {
    margin-left: 100px;
    margin-right: 100px;
    background-color: #cdffc4;
    height: 800px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    color: #000000;
    font-size: 24px;
}

#myHeader {
    height: 100px;
    background-color: darkcyan;
    color: azure;
    padding: 30px;
    text-align: center;
}

#profilePhoto {
    width: 20%;
    float: right;
    padding: 10px;
    border: 10px solid #005dbc;
}
#hobbiesPhotos1 {
    width: 12%;
    float: right;
    padding: 10px;
}
#hobbiesPhotos2 {
    width: 12%;
    float: right;
    padding: 10px;
}
#hobbiesPhotos3 {
    width: 15%;
    float: right;
    padding: 10px;
}
#FlickFinderImage{
    width: 15%;
    float: right;
    padding: 10px;
}#SQLServerImage{
    width: 15%;
    float: right;
    padding: 10px;
}